<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tibia.Windows.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <Tibia.Windows.Console.Properties.Settings>
            <setting name="Network_Port_LoginServer" serializeAs="String">
                <value>7171</value>
            </setting>
            <setting name="Network_Port_GameServer" serializeAs="String">
                <value>7172</value>
            </setting>
            <setting name="Items_Xml" serializeAs="String">
                <value>..\..\..\..\data\items\items.xml</value>
            </setting>
            <setting name="Items_Otb" serializeAs="String">
                <value>..\..\..\..\data\items\items.otb</value>
            </setting>
            <setting name="Map_Otb" serializeAs="String">
                <value>..\..\..\..\data\world\forgotten.otbm</value>
            </setting>
            <setting name="Houses_Xml" serializeAs="String">
                <value>..\..\..\..\data\world\forgotten-house.xml</value>
            </setting>
            <setting name="Spawns_Xml" serializeAs="String">
                <value>..\..\..\..\data\world\forgotten-spawn.xml</value>
            </setting>
            <setting name="Outfits_Xml" serializeAs="String">
                <value>..\..\..\..\data\outfits.xml</value>
            </setting>
            <setting name="Mounts_Xml" serializeAs="String">
                <value>..\..\..\..\data\mounts.xml</value>
            </setting>
            <setting name="Channels_Xml" serializeAs="String">
                <value>..\..\..\..\data\channels\channels.xml</value>
            </setting>
            <setting name="Monsters_Xml" serializeAs="String">
                <value>..\..\..\..\data\monsters\monsters.xml</value>
            </setting>
            <setting name="Spells_Xml" serializeAs="String">
                <value>..\..\..\..\data\spells\spells.xml</value>
            </setting>
            <setting name="Npcs_Xml" serializeAs="String">
                <value>..\..\..\..\data\npcs\npcs.xml</value>
            </setting>
            <setting name="Vocations_Xml" serializeAs="String">
                <value>..\..\..\..\data\vocations.xml</value>
            </setting>
        </Tibia.Windows.Console.Properties.Settings>
    </userSettings>
</configuration>